# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/
myvenv/

# Credentials & secrets
credentials.json
token.json
*.env
.env

# Build / dist / output
*.egg-info/
dist/
build/
Output/
*.whl


# Test cache & data
.pytest_cache/
.coverage
htmlcov/
data/
data_test/

# PyInstaller Spec
*.spec


# IDE
.vscode/
.idea/

# MkDocs site output
site/

# Backup files
*.bak

# Windows build install files
*.iss
